streamlit>=1.33.0
requests>=2.31.0
numpy>=1.26.0
pinecone-client>=3.0.0
voyageai>=0.2.0
spacy>=3.7.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
